<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag "mafia_arena.jpg", id: 'icon' %>
      <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
    </div>

    <!-- Login Form 
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>-->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"fadeIn second", placeholder: "Email"  %>
      <%= f.password_field :password, autocomplete: "current-password", class:"fadeIn second", placeholder: "Пароль" %>
      <div class="form-check form-switch fadeIn second check-remember">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me, class:"form-check-label" %>
      </div>
      <br>
        <!--<% if devise_mapping.rememberable? %>
          <div class="form-check mb-3 w-50">
            <%= f.check_box :remember_me, class:"form-check-input" %>
            <%= f.label :remember_me, class:"form-check-label" %>
          </div>
        <% end %>-->
        <%= f.submit "Войти", class:"fadeIn third" %>
        <%= link_to I18n.t('activerecord.attributes.user.register'),  new_registration_path(resource_name), class: 'fadeIn third' %>
      </div>
    <% end %>

    <!-- Remind Passowrd -->
    <!--<div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>-->

  </div>
</div>

<%= render 'devise/shared/styles' %>